.friendMessage {



}

.friendImageAndText {



}

.friendImageAndText img {
    height: 48px;

}

.friendText {

}

.friendText:after {

}

.friendName {

}

.friendMessageText {

}

.friendTime {
    height: 12px;
    width: 26px;
    left: 1173px;
    top: 257px;
    border-radius: 0px;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;


}
